<!doctype html>
<html>
	<head>
  <!-- #222326, #EB4533, #37393E -->
	<meta charset="UTF-8">
	<title>Auxilia - Group Music Sharing Platform</title>
  <link rel="stylesheet" type="text/css">
	<link href="/static/css/layout.css" rel="stylesheet" type="text/css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/static/css/boilerplate.css" rel="stylesheet" type="text/css">
     <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/static/css/boilerplate.css" rel="stylesheet" type="text/css">
   <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/manifest.json">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#fc2558">
<meta name="msapplication-TileColor" content="#fc2558">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
<body bgcolor="#222326">
	<div id="app">
	<div class="title" style="text-align: center; margin-top: 7px; font-size: 28px;">Admin Settings</div>
  <div class="queue">
  <div class="row" style="text-align: center; padding-bottom: -10px;">
  <table style="margin: 0 auto; text-align: center;">
  	<tr>
    	<td>
  	<div class="song_name" style="position: relative; margin-top: 10px;">Safe Mode:</div>
    </td>
    <td style="padding-top: 5px;">
        <label class="switch">
          <input v-model="safe_mode" type="checkbox">
          <div class="slider round"></div>
        </label>
        </td></tr></table>
  </div>
  <div class="row" style="text-align: center;">
  	<div class="song_info" style="position: relative; top: 50%; transform: translateY(-70%);">
    	How many more downvotes than upvotes to remove song:
      <input type="number" v-model="votes_threshold" class="query" style="width: 22%; margin-left: 5px; text-align: center;">
    </div>
  </div>
  <div class="row" style="text-align: center;">
  	<div class="song_info" style="position: relative; top: 50%; transform: translateY(-70%);">
    	Max number of individual added songs at a time
      <input type="number" v-model="max_individual_songs" class="query" style="width: 22%; margin-left: 5px; text-align: center;">
    </div>
  </div>
	</div>
  <a class="nostyle" href="/play"><div class="pointer" style="background-color: #FC2558; border-radius: 21px; height: 42px; width: 200px; color: #f2f2f2; font-size: 24px; text-align: center; line-height: 42px; margin: 0 auto; margin-top: 15px; bottom: 30%;">Go to Queue</div></a>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
	</script>
  <script type="text/javascript" src="static/js/vue.js"></script>
  <script type="text/javascript" src="static/js/admin.js"></script>
</body>
</html>
